@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,700;0,800;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* line 4, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/base/_base.scss */
html {
  font-family: 'Sansita', sans-serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.02em; }

/* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/base/_base.scss */
body {
  width: 100%;
  margin: auto;
  background-color: #E0D3C5; }

/* line 14, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/base/_base.scss */
main {
  display: flex;
  align-items: center;
  flex-direction: column; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
header {
  width: 100%;
  height: 130px;
  background-color: #B1C8E0;
  display: flex;
  justify-content: center; }

/* line 9, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
#header {
  width: 930px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  /* line 16, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
  #header img {
    width: 250px;
    height: auto; }
  /* line 21, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
  #header #basket {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 32, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
    #header #basket #nbArticleDisplay {
      width: 30px;
      height: 30px;
      color: #FFF;
      background-color: #406FA0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2px;
      margin-top: -17px; }
    /* line 47, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
    #header #basket #bulle {
      position: absolute;
      height: 35px;
      min-width: 230px;
      background-color: #FFF;
      color: #000;
      border-radius: 7px;
      top: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      opacity: 0; }
      /* line 61, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
      #header #basket #bulle #bulleText {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-weight: 500;
        font-size: 12px;
        text-align: center; }
      /* line 68, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
      #header #basket #bulle .arrow-up {
        position: absolute;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FFF;
        margin-top: -9px;
        align-self: flex-start; }
    /* line 81, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_header.scss */
    #header #basket .changing {
      animation: bounce 2s linear both; }

@keyframes bounce {
  0% {
    opacity: 1;
    transform: translateY(0); }
  2% {
    transform: translateY(12px); }
  10% {
    opacity: 1;
    transform: translateY(0); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(0); } }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
footer {
  width: 100%;
  height: 150px;
  background-color: #B1C8E0;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 11, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
.footer {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #406FA0; }

/* line 22, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
.footer a,
.footer a:visited,
.footer a:link {
  text-decoration: none;
  color: #406FA0; }

/* line 29, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
.footer a:hover {
  color: #E0D3C5; }

/* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
.footer .title {
  font-family: 'Sansita', sans-serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.02em;
  font-size: 22px;
  color: #000; }

/* line 39, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
.follow {
  text-align: center; }
  /* line 42, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
  .follow .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  /* line 49, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
  .follow .rs-icon {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 8px;
    margin: 5px;
    margin-top: 10px; }

/* line 60, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/layouts/_footer.scss */
.mentions {
  text-align: right; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
.hero {
  position: relative;
  width: 1000px;
  height: 670px;
  background: url(../images/teddy_5.jpg) no-repeat;
  background-size: contain; }
  /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
  .hero__title {
    position: absolute;
    color: #F5F0E6;
    font-size: 70px;
    top: 212px;
    left: 580px; }

/* line 17, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
.choose h2 {
  font-size: 70px;
  color: #A39084;
  margin: 15px; }

/* line 23, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
#cardsContainer {
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  /* line 30, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
  #cardsContainer a,
  #cardsContainer a:visited,
  #cardsContainer a:link {
    text-decoration: none;
    color: #000; }

/* line 40, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
.card {
  width: 234px;
  height: 100%;
  background-color: #B1C8E0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px; }
  /* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
  .card__image {
    width: 216px;
    height: 228px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    object-fit: cover; }
  /* line 61, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
  .card-namePriceContainer {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1; }
    /* line 69, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
    .card-namePriceContainer__name, .card-namePriceContainer__price {
      font-size: 29px;
      line-height: 26px;
      display: flex;
      align-items: center; }
    /* line 77, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
    .card-namePriceContainer__name {
      color: #406FA0;
      flex-basis: 65%; }
    /* line 82, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_home.scss */
    .card-namePriceContainer__price {
      color: #F5F0E6;
      flex-basis: 30%; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
#product-container {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin-top: 50px; }

/* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
.product-image {
  width: 475px;
  height: 500px;
  object-fit: cover;
  border: 17px solid #B1C8E0;
  box-sizing: border-box;
  border-radius: 30px; }

/* line 17, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
.product-details {
  margin: 0 0 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  /* line 24, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
  .product-details__name {
    font-size: 60px;
    color: #406FA0;
    margin: 0;
    line-height: 100px;
    font-family: 'Sansita', sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em; }
  /* line 32, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
  .product-details__description {
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px; }
  /* line 39, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
  .product-details .line-varPrice {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px; }
  /* line 46, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
  .product-details__variations {
    flex-grow: 2;
    font-size: 18px;
    border-radius: 7px;
    border-color: #FFF;
    padding: 10px;
    outline: none;
    box-sizing: content-box; }
  /* line 56, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
  .product-details__price {
    text-align: right;
    flex-grow: 1;
    font-family: 'Sansita', sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em;
    font-size: 50px;
    line-height: 50px;
    color: #406FA0; }
  /* line 65, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_product.scss */
  .product-details__valid {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: #B1C8E0;
    color: #406FA0;
    border: 1px solid;
    border-color: rgba(64, 111, 160, 0.3);
    font-family: 'Sansita', sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
    outline: none;
    border-bottom: 5px solid #406FA0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; }
    /* line 36, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/utils/_mixins.scss */
    .product-details__valid:hover {
      background-color: #a6c0dc; }
    /* line 40, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/utils/_mixins.scss */
    .product-details__valid:active {
      border-bottom: 1px solid #406FA0;
      transform: translateY(3px);
      outline: none; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
.basket-container {
  width: 900px;
  height: auto;
  background-color: #F5F0E6;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row; }
  /* line 14, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
  .basket-container h2 {
    font-family: 'Sansita', sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em;
    font-size: 30px;
    margin: 0; }
  /* line 20, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
  .basket-container.myBasketList {
    width: 100%; }
  /* line 24, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
  .basket-container .myBasket {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black; }
    /* line 31, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
    .basket-container .myBasket .head {
      width: 100%;
      display: flex;
      background-color: #ebe1cd;
      padding: 6px;
      padding-left: 17px;
      border-radius: 7px;
      justify-content: space-between;
      font-weight: 500; }
      /* line 41, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .head .head-article {
        flex-grow: 4;
        border: 1px solid black; }
      /* line 46, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .head .head-price,
      .basket-container .myBasket .head .head-quantity,
      .basket-container .myBasket .head .head-total {
        flex-grow: 1;
        border: 1px solid black;
        text-align: center; }
    /* line 56, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
    .basket-container .myBasket-line {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px; }
      /* line 63, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket-line__title {
        font-family: 'Sansita', sans-serif;
        font-style: italic;
        font-weight: 800;
        letter-spacing: 0.02em; }
      /* line 67, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket-line-nbArticle {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400; }
      /* line 71, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket-line-nbArticle__number {
        margin-left: 20px; }
    /* line 76, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
    .basket-container .myBasket-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc((120px + 10px)*3); }
      /* line 82, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket-list-article {
        display: flex;
        flex-direction: row;
        padding: 17px;
        padding-right: 20px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        /* line 90, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
        .basket-container .myBasket-list-article-col1 {
          width: 90px;
          height: 100px;
          object-fit: cover;
          border: 1px solid #C4C4C4;
          overflow: hidden; }
          /* line 97, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
          .basket-container .myBasket-list-article-col1 img {
            width: 100%; }
        /* line 102, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
        .basket-container .myBasket-list-article-col2 {
          margin: 10px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          /* line 108, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
          .basket-container .myBasket-list-article-col2__ref {
            font-size: 11px; }
          /* line 112, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
          .basket-container .myBasket-list-article-col2 h3 {
            margin: 0; }
        /* line 117, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
        .basket-container .myBasket-list-article-col3 {
          display: flex;
          flex-grow: 1;
          justify-content: flex-end;
          align-items: center; }
          /* line 123, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
          .basket-container .myBasket-list-article-col3__price {
            margin: 10px 0;
            font-weight: 600; }
    /* line 131, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
    .basket-container .myBasket .myRecap {
      display: flex;
      font-weight: 600;
      margin: 25px 10px; }
      /* line 137, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .myRecap-totalLine {
        justify-content: space-between;
        margin: 20px; }
      /* line 142, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .myRecap-space {
        flex-grow: 4; }
      /* line 146, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .myRecap-nbArticle, .basket-container .myBasket .myRecap-totalPrice {
        flex-grow: 1;
        text-align: center; }
    /* line 153, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
    .basket-container .myBasket .form {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      text-align: center;
      border: 1px solid black; }
      /* line 162, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .form .champ {
        width: 100%;
        margin-top: 6px;
        padding: 5px;
        padding-left: 12px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px; }
      /* line 172, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .form .champ:nth-child(2),
      .basket-container .myBasket .form .champ:nth-child(3),
      .basket-container .myBasket .form .champ:nth-child(5),
      .basket-container .myBasket .form .champ:nth-child(6) {
        width: 50%; }
      /* line 179, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_basket.scss */
      .basket-container .myBasket .form button {
        width: 100%;
        height: 50px;
        margin-top: 15px;
        background: #B1C8E0;
        color: #406FA0;
        border: 1px solid;
        border-color: rgba(64, 111, 160, 0.3);
        font-family: 'Sansita', sans-serif;
        font-style: italic;
        font-weight: 800;
        letter-spacing: 0.02em;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        border-radius: 7px;
        outline: none;
        border-bottom: 5px solid #406FA0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px; }
        /* line 36, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/utils/_mixins.scss */
        .basket-container .myBasket .form button:hover {
          background-color: #a6c0dc; }
        /* line 40, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/utils/_mixins.scss */
        .basket-container .myBasket .form button:active {
          border-bottom: 1px solid #406FA0;
          transform: translateY(3px);
          outline: none; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_confirmation.scss */
.message-container {
  width: 550px;
  height: auto;
  background-color: #F5F0E6;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 15, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_confirmation.scss */
  .message-container .message {
    font-family: 'Sansita', sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em;
    font-size: 30px;
    padding: 20px; }
  /* line 21, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_confirmation.scss */
  .message-container .orderNumber {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 20px; }
  /* line 27, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P5/P5-Orinoco/css/pages/_confirmation.scss */
  .message-container .totalOrder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding: 20px; }

/*# sourceMappingURL=style.css.map */