footer {
    width: 100%;
    height: 150px;
    background-color: $colour-secondary;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include font-secondary;
    font-size: 17px;
    line-height: 30px;
    color: $colour-tertiary;
}

.footer a,
.footer a:visited,
.footer a:link {
    text-decoration: none;
    color: $colour-tertiary;
}

.footer a:hover {
    color: $colour-background1;
}

.footer .title {
    @include font-primary;
    font-size: 22px;
    color: #000;
}

.follow {
    text-align: center;

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .rs-icon {
        width: 40px;
        height: 40px;
        background-color: #000;
        border-radius: 8px;
        margin: 5px;
        margin-top: 10px;
    }
}


.mentions {
    text-align: right;
}
