header {
	width: 100%;
	height: 80px;
	background-color: $colour-secondary;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	@include shadow;
}

#header {
	width: 930px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;

	& img {
		width: 200px;
		height: auto;
	}

	& #basket {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		;
		padding-bottom: 5px;

		& a,
		& a:visited,
		& a:link {
			text-decoration: none;
			color: #000000;
		}

		& i {
			overflow: hidden;
			font-size: 2.5em;
		}

		& #nbArticleDisplay {
			width: 24px;
			height: 24px;
			color: #FFFFFF;
			font-size: 13px;
			background-color: $colour-tertiary;
			border-radius: 50%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-bottom: 2px;
			z-index: 100;
			position: absolute;
			left: -8px;
			top: 30px;
		}
		& #bulle {
			position: absolute;
			height: 40px;
			min-width: 240px;
			background-color: $colour-4;
			color: #000000;
			border-radius: 7px;
			left: -580%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			@include shadow;
			opacity: 0;


			& #bulleText {
				@include font-secondary;
				font-weight: 500;
				font-size: 12px;
				text-align: center;
			}

			& .arrow-right {
				position: absolute;
				border-top: 14px solid transparent;
				border-left: 14px solid $colour-4;
				border-bottom: 14px solid transparent;
				-ms-flex-item-align: start;
				align-self: flex-start;
				top: calc(50% - 14px);
				right: -10px;
			}
		}

		& .changing {
			-webkit-animation: bounce 4s linear both;
			        animation: bounce 4s linear both;
		}
	}
}

@-webkit-keyframes bounce {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	1% {
		-webkit-transform: translateX(-12px);
		        transform: translateX(-12px);
	}

	5% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	1% {
		-webkit-transform: translateX(-12px);
		        transform: translateX(-12px);
	}

	5% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
