// NOTE:  Polices
@mixin font-primary {
    font-family: 'Sansita', sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em;
}

@mixin font-secondary {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}


//  NOTE: boutons
@mixin bouton-bleu {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: $colour-secondary;
    color: $colour-tertiary;
    border: 1px solid;
    border-color: rgba($colour-tertiary, 0.3);
    @include font-primary;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
    outline: none;

    border-bottom: 5px solid $colour-tertiary;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    &:hover {
        background-color: darken($colour-secondary, 3%);
    }

    &:active {
        border-bottom: 1px solid $colour-tertiary;
        transform: translateY(3px);
        outline: none;
    }

}


// NOTE:  Ombres
@mixin shadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}


// NOTE:  Medias Queries
@mixin mobile-only {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}
