//  NOTE:  couleurs
$colour-primary: #F5F0E6;
$colour-secondary: #B1C8E0;
$colour-tertiary: #406FA0;
$colour-4: #A39084;
$colour-background1: #E0D3C5;

//  NOTE:  Breakpoints Media queries 
$breakpoint-mobile: 750px;
$breakpoint-tablet: 751px;
$breakpoint-desktop: 1100px;
