//  NOTE:  couleurs
$colour-primary: #FAA916;
$colour-secondary: #FFFFFF;
$colour-tertiary: #406FA0;
$colour-4: #C5D6E8;
$colour-background1: linear-gradient(90deg, #E2F3E6, #DEF0F7);
$colour-filet: 1px solid rgba(0, 0, 0, 0.2);

//  NOTE:  Breakpoints Media queries 
$breakpoint-mobile: 750px;
$breakpoint-tablet: 751px;
$breakpoint-desktop: 1000px;
