//  NOTE:  couleurs
$colour-primary: #FFF;
$colour-secondary: #B1C8E0;
$colour-tertiary: #5683B3;
$colour-4: #F7EFEC;
$colour-background1: #FDD0AF;
$colour-background2: #FFE4C7;


//  NOTE:  Breakpoints Media queries 
$breakpoint-mobile: 750px;
$breakpoint-tablet: 751px;
$breakpoint-desktop: 1100px;
