#myBasket {
    width: 900px;
    height: auto;
    background-color: $colour-secondary;
    @include shadow;
    @include font-secondary;
    color: #000;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    & h2 {
        @include font-primary;
        font-size: 30px;
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    & .head {
        background-color:$colour-primary;
        padding: 8px;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;


        & .head-article {
            width: 40%;
        }

        & .head-price,
        & .head-quantity,
        & .head-total {
            text-align: center;
            width: 20%;
        }
    }

    & .myBasketList {
        &-article {
            display: flex;
            flex-direction: row;
            padding: 8px;

            position: relative;
            border-bottom: $colour-filet;

            &-col1 {
                display: flex;
                width: 40%;

                & .z1 {
                    width: 90px;
                    height: 100px;
                    object-fit: cover;
                    border: 1px solid $colour-tertiary;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;

                    & img {
                        height: 100%;
                    }
                }

                & .z2 {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 20px;
                }

                & h3 {
                    margin: 0;
                    margin-bottom: 10px;
                    color: $colour-tertiary;
                    @include font-primary;
                }

                &__ref {
                    font-size: 11px;
                }
            }

            &-col2,
            &-col3,
            &-col4 {
                width: 20%;
                text-align: center;
                align-self: center;
            }
        }
    }

    & #myRecap {
        display: flex;
        font-weight: 600;
        font-size: 20px;
        padding: 20px 10px;
        border-bottom: $colour-filet;

        &Space1 {
            width: 40%;
        }

        &Space1::before {
            content: "\2002"
        }

        &Space2,
        &Quantity,
        &TotalPrice {
            width: 20%;
            text-align: center;
        }
    }

    & #form {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        text-align: center;
        margin: 40px 0 15px;
        justify-content: space-between;
        background-color:lighten($colour-primary,30%);
        padding: 20px;
        border-radius: 10px;

        & .titre {
            width: 100%;

            & h2 {
                margin-bottom: 16px;
            }
        }

        & .champ {
            margin-top: 8px;
            padding: 5px;
            padding-left: 12px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            width: 100%;
        }

        & .champ:nth-child(2),
        & .champ:nth-child(3),
        & .champ:nth-child(5),
        & .champ:nth-child(6) {
            width: calc(50% - 22px);

        }

        & #formValid {
            @include bouton-bleu;
        }
    }

    & .emptyBasket {
        font-size: 20px;
        text-align: center;
        margin: 40px 0;
    }
}
