#messageContainer {
	max-width: 550px;
	height: auto;
	background-color: $colour-secondary;
	@include font-secondary;
	color: #000000;
	padding: 30px;
	border-radius: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin: 20px;

	& #message {
		@include font-primary;
		font-size: 30px;
		padding: 20px;
	}

	& #orderNumber {
		@include font-secondary;
		font-size: 20px;
		padding: 20px;
	}

	& #totalOrder {
		@include font-secondary;
		font-size: 30px;
		padding: 20px;
	}
	& #homeButton {
		@include bouton-bleu;
		max-width: 80%;
	}
}
