.hero {
    position: relative;
    width: 1000px;
    height: 670px;
    background: url(../images/teddy_5.jpg) no-repeat;
    background-size: contain;

    &__title {
        position: absolute;
        color: $colour-primary;
        font-size: 70px;
        top: 212px;
        left: 580px;
    }
}

.choose h2 {
    font-size: 70px;
    color: $colour-4;
    margin: 15px;
}

#cardsContainer {
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & a,
    & a:visited,
    & a:link {
        text-decoration: none;
        color: #000;
    }
}

.cardsContainer a:hover {}

.card {
    width: 234px;
    height: 100%;
    background-color: $colour-secondary;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9px;

    &__image {
        width: 216px;
        height: 228px;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
        object-fit: cover;
    }

    &-namePriceContainer {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;


        &__name,
        &__price {
            font-size: 29px;
            line-height: 26px;
            display: flex;
            align-items: center;
        }

        &__name {
            color: $colour-tertiary;
            flex-basis: 65%;
        }

        &__price {
            color: $colour-primary;
            flex-basis: 30%;
        }
    }
}
