.hero {
    min-width: 100%;
    min-height: 670px;
    background: url(../images/teddy_5.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: row;
    background-position: center;

    &__space {
        height: 100px;
        width: 60%;
    }

    &__title {
        width: 40%;
        color: #F5F0E6;
        font-size: 70px;
        align-self: center;
    }
}

.choose h2,
.choose2 h2 {
    font-size: 85px;
    color: $colour-tertiary;
    margin: 15px 0 -15px;
}

.choose {
    z-index: 20;
    position: relative;
}

.choose2 {
    width: 1000px;
    z-index: -2;
    display: flex;
    justify-content: center;
}

.choose2 h2 {

    position: absolute;
    top: 700px;
    font-size: 8.5em;
    opacity: 0.05;

    z-index: -5;

}

#cardsContainer {
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    & a,
    & a:visited,
    & a:link {
        text-decoration: none;
        color: #000;
    }
}

#cardsContainer a:hover {
    cursor: pointer;
}

.card {
    width: 234px;
    height: 100%;
    background-color: $colour-secondary;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9px;
    @include shadow;

    &__image {
        width: 216px;
        height: 228px;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
        object-fit: cover;
    }

    &-namePriceContainer {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;


        &__name,
        &__price {
            font-size: 29px;
            line-height: 26px;
            display: flex;
            align-items: center;
        }

        &__name {
            color: $colour-tertiary;
            flex-basis: 65%;
        }

        &__price {
            color: $colour-primary;
            flex-basis: 30%;
        }
    }
}
