#product-container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.product-image {
    width: 475px;
    height: 500px;
    object-fit: cover;
    border: 17px solid $colour-secondary;
    box-sizing: border-box;
    border-radius: 30px;
}

.product-details {
    margin: 0 0 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__name {
        font-size: 60px;
        color: $colour-tertiary;
        margin: 0;
        line-height: 100px;
        @include font-primary;
    }

    &__description {
        font-family: "Roboto", arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
    }

    .line-varPrice {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    &__variations {
        flex-grow: 2;
        font-size: 18px;
        border-radius: 7px;
        border-color: #FFF;
        padding: 10px;
        outline: none;
        box-sizing: content-box;
    }

    &__price {
        text-align: right;
        flex-grow: 1;
        @include font-primary;
        font-size: 50px;
        line-height: 50px;
        color: $colour-tertiary;
    }

    &__valid {
        @include bouton-bleu;
    }
}
